@using PureGreenLandGroup.Utility.Enums
@using PureGreenLandGroup.Utility.Resources
@model PureGreenLandGroup.Models.ViewModel.Inspection.InspectionMasterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @if (Model.CreateInspectionViewModel.Id > 0)
    {
        ViewData["Title"] = "Update Inspection";
    }
    else
    {
        ViewData["Title"] = "Create Inspection";
    }
}

<!--sucess toaster message-->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index:99999 ; display:none;">
    <div class="toast-header">
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="$('.toast').hide();"></button>
    </div>
    <div class="toast-body">
        @Messages.InspectionCreated
    </div>
</div>

<div class="d-flex align-items-center justify-content-between ">
    @if (Model.CreateInspectionViewModel.Id > 0)
    {
        <h4>Update Inspection</h4>
    }
    else
    {
        <h4>New Inspection</h4>
    }
    <div class="d-flex align-items-center gap-3 mb-2 inspectionDetails">
        @if (Model.CreateInspectionViewModel.Id > 0)
        {
            if (Model.CreateInspectionViewModel.IsInspectionCompleted)
            {
                <button type="button" form="CreateInspectionForm" class="edit-btn" onclick="UpdateInspection('completed')">Update</button>
            }
            else
            {
                <button type="button" form="CreateInspectionForm" class="edit-btn" onclick="UpdateInspection('draft')">Draft</button>
                <button type="button" form="CreateInspectionForm" class="edit-btn" onclick="UpdateInspection('completed')">Complete</button>
            }
        }
        else
        {
            <button type="button" form="CreateInspectionForm" class="edit-btn" onclick="CreateInspection('draft')">Draft/Save</button>
            <button type="button" form="CreateInspectionForm" class="edit-btn" onclick="CreateInspection('completed')">Submit</button>
        }
    </div>
</div>


<div id="inspectionDetails">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Inspection Details
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="left-section">
                    <!--tab navigation begins-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="InspectionGeneralTabBtn" data-bs-toggle="tab" data-bs-target="#InspectionGeneralTab" type="button" role="tab" aria-controls="controller" aria-selected="true">General</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="InspectionProgramsTabBtn" data-bs-toggle="tab" data-bs-target="#InspectionProgramsTab" type="button" role="tab" aria-controls="sestional" aria-selected="false">Programs</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="InspectionSeasonalAdjutBtn" data-bs-toggle="tab" data-bs-target="#InspectionSeasonalAdjutTab" type="button" role="tab" aria-controls="omit" aria-selected="false">Seasonal</button>
                        </li>
                    </ul>
                    <!--tab navigation end-->
                    <div class="tab-content" id="myTabContent">
                        <!--Inspection-General tab-->
                        <div class="tab-pane fade show active" id="InspectionGeneralTab" role="tabpanel" aria-labelledby="InspectionGeneralTabBtn">
                            @await Html.PartialAsync("_inspectionGeneralSection", Model)
                        </div>

                        <!--Inspection-Programs tab-->
                        <div class="tab-pane fade" id="InspectionProgramsTab" role="tabpanel" aria-labelledby="InspectionProgramsTab">
                            @await Html.PartialAsync("_inspectionProgramSection", Model.ProgramDetailsList)
                        </div>

                        <!--Inspection seasonal adjust tab-->
                        <div class="tab-pane fade" id="InspectionSeasonalAdjutTab" role="tabpanel" aria-labelledby="InspectionSeasonalAdjutBtn">
                            @await Html.PartialAsync("_inspectionSeasonalAdjutSection", Model.SeasionalAdjustList)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item mt-2">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Zone Issues
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <!--zone issues tab-->
                <div class="rightSection accorRightSection">
                    @await Html.PartialAsync("_inspectionZoneSection", Model)
                </div>
            </div>
        </div>
    </div>
</div>

