







@media screen and (min-width:1200px) and (max-width:1400px) {
    /*Login Css Here*/
    .loginFormWrapoer {
        max-width: 550px;
    }
}

@media screen and (min-width:1080px) and (max-width:1200px) {
    /*Login Css Here*/
    .loginFormWrapoer {
        max-width: 520px;
    }

    .loginFormSec {
        gap: 60px;
    }

    .loginLeftPanel img {
        max-width: 60%;
    }

    .loginLeftPanel p {
        font-size: 14px;
    }

    .loginFormWrapoer {
        padding: 40px 50px;
    }
}

@media screen and (max-width:1080px) {
    /*Login Css Here*/
    .loginFormSec {
        flex-direction: column;
        gap: 30px;
    }

    .loginLeftPanel p {
        font-size: 14px;
        display: none;
    }

    .loginLeftPanel img {
        max-width: 70%;
    }


    .loginFormWrapoer {
        padding: 40px;
    }

    .loginFormWrapoer>h2 {
        font-size: 24px;
    }

    .btnBox .cstmBTN {
        font-size: 16px;
    }

    .btnBox .googleBTN {
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    /*Login Css Here*/
    .loginFormWrapoer {
        width: 80%;
        padding: 40px 30px;
    }

    .loginFormWrapoer .leaveImg {
        position: absolute;
        top: -60px;
        right: -35px;
    }

    .loginFormWrapoer .leaveImg img {
        width: 57px;
    }
}


@media screen and (max-width:576px) {
    /*Login Css Here*/
    .loginLeftPanel img {
        max-width: 60%;
    }

    .loginFormWrapoer {
        width: 90%;
    }
    
    .loginFormWrapoer .leaveImg {
        display: none;
    }

    .loginFormWrapoer>h2 {
        font-size: 20px;
    }

    .loginFormWrapoer>p {
        font-size: 15px;
    }

    .btnBox>span {
        font-size: 15px;
        margin: 10px 0px;
    }

    .loginFormWrapoer .accountLinkText {
        font-size: 15px;
        margin-top: 15px;
    }
}