@using PureGreenLandGroup.Models.ViewModel.Inspection
@model CatalogMappingVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Catalog Mapping Page";
}
<!--success messages-->
@if (@ViewBag.StatusMessage == "1")
{
    @await Html.PartialAsync("_dataSavedMessage")
}
else if (@ViewBag.StatusMessage == "2")
{
    @await Html.PartialAsync("_dataUpdatedMessage")
}
else if (@ViewBag.StatusMessage == "0")
{
    @await Html.PartialAsync("_dataErrorMessage")
}
<div class="rightSection ">
    <div class="card catelogmapping-card" id="CreateUserContainer">
        <div class="card-header text-center text-white" style="background-color: #3ea30487;">
            <h3 class="m-0 ">Catalog Mapping Data</h3>
        </div>
        <div class="card-body p-4">
            <form method="post" enctype="multipart/form-data" asp-controller="MasterDataManager" asp-action="CreateUpdateCatalogMapping">
                <div id="ValveStatusContainer" class="valuestatus-outer">
                    <div class="valuestatus-content">
                        <div class="valuestatus-header">
                            <h5>Valve Status</h5>
                        </div><div class="value-input-outer">
                            <div class="value-input">
                                <label>Valve Issue<span class="text-danger fw-bold">*</span> </label>
                                <div class="valueinput-inner">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="text" asp-for="ValveIssueValue" class="form-control" placeholder="Enter valve issue mapping name">
                                    <span asp-validation-for="ValveIssueValue" class="text-danger validation-font  "></span>
                                </div>
                            </div>
                            <div class="value-input">
                                <label>Decoder Issue<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="DecoderIssueValue" class="form-control " placeholder="Enter decoder issue mapping name">
                                    <span asp-validation-for="DecoderIssueValue" class="text-danger validation-font  "></span>
                                </div>
                            </div><div class="value-input">
                                <label>Solenoid Issue<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="SolenoidIssueValue" class="form-control " placeholder="Enter solenoid issue mapping name" data-val="true">
                                    <span asp-validation-for="SolenoidIssueValue" class="text-danger validation-font  "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="CloggedNozzleContainer" class="valuestatus-outer">
                    <div class="valuestatus-content">
                        <div class="valuestatus-header">
                            <h5>Clogged Nozzle</h5>
                        </div><div class="value-input-outer">
                            <div class="value-input">
                                <label>Mpr Nozzle<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="MprNozzleValue" class="form-control " placeholder="Enter mpr nozzle mapping name" data-val="true">
                                    <span asp-validation-for="MprNozzleValue" class="text-danger validation-font  "></span>
                                </div>
                            </div>
                            <div class="value-input">
                                <label>VAN Nozzle<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="VanNozzleValue" class="form-control " placeholder="Enter VAN nozzle mapping name" data-val="true">
                                    <span asp-validation-for="VanNozzleValue" class="text-danger validation-font  "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="valuestatus-outer">
                    <div class="valuestatus-content">
                        <div class="valuestatus-header">
                            <h5>Broken Head</h5>
                        </div>
                        <div class="value-input-outer">
                            <div class="value-input">
                                <label>Broken Spray<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="BrokenSprayValue" class="form-control " placeholder="Enter broken spray mapping name" data-val="true">
                                    <span asp-validation-for="BrokenSprayValue" class="text-danger validation-font  "></span>
                                </div>
                            </div>
                            <div class="value-input">
                                <label>Broken Rotor<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="BrokenRotorValue" class="form-control " placeholder="Enter broken rotor mapping name" data-val="true">
                                    <span asp-validation-for="BrokenRotorValue" class="text-danger validation-font  "></span>
                                </div>
                            </div>
                            <div class="value-input">
                                <label>Broken Lateral<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="BrokenLateralValue" class="form-control " placeholder="Enter broken lateral mapping name" data-val="true">
                                    <span asp-validation-for="BrokenLateralValue" class="text-danger validation-font "></span>
                                </div>
                            </div>
                            <div class="value-input">
                                <label>Broken Main<span class="text-danger fw-bold">*</span></label>
                                <div class="valueinput-inner">
                                    <input type="text" asp-for="BrokenMainValue" class="form-control " placeholder="Enter broken main mapping name" data-val="true">
                                    <span asp-validation-for="BrokenMainValue" class="text-danger validation-font "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a class="btn btn-secondary-custom" asp-action="AdminPanel" asp-controller="MasterDataManager">Back to statistics </a>
                    @if (Model.Id > 0)
                    {
                        <button class="btn btn-success" type="submit">UPDATE</button>
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit">SUBMIT</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/AdminDashboard/js/jquery.min.js"></script>
<script src="~/admindashboard/datatable/datatable_puregreen.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/admindashboard/js/masterdatehandler.js"></script>


