@using PureGreenLandGroup.Utility.Resources
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index:99999">
    <div class="toast-header">
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="$('.toast').hide();"></button>
    </div>
    <div class="toast-body">
        
        @Messages.DataUpdated
    </div>
</div>