@{
    ViewBag.title = "Global Error Page";
}
<link rel="stylesheet" href="~/AdminDashboard/css/bootstrap.min.css">
<link rel="stylesheet" href="~/AdminDashboard/css/Style.css">

<!--page html-->
<div>
    <div class="container errorMessageBody">
        <p>Error 404.</p>
        <span>This page could not be found!</span><br /><br />
        <a asp-controller="MessageManager" asp-action="Messenger" class="btn customErrorPageBtn">Back to Dashboard</a>
    </div>
</div>